@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.jumbotron {
    font-size: 20px;
    padding: 200px;
    background-color: #00C7E8;
    text-align: center;
    color: white;
}